#courses {
    background-color: $rosa-blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: 900px;
    width: 100%;

    h2 {
        @include h2;
        font-size: 20px;
        color: $amarillo-fuerte;
        margin-top: 1em;
    }

    .levelsInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .levels {
            margin-top: 2em;
            display: flex;
            flex-direction: row;            
            align-items: center;
            gap: 1.5em;
            padding: 1em;
            width: 50%;

            .buttonLevel {
                width: 20em;
                height: 10em;
                padding: 1em;
                background: hsla(154, 100%, 76%, 1);
                background: linear-gradient(180deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
                background: -moz-linear-gradient(180deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
                background: -webkit-linear-gradient(180deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
                border-style: none;
                border-radius: 42% 58% 67% 33% / 46% 30% 70% 54%;
                flex-direction: column;
                align-items: center;     
                text-align: center;
                text-decoration: none;
                font-size: 15px;
                color: #fff;
                font-family: $titulo2;   

                &:hover::before {
                    transform: scale(1.2);
                    transition-duration: 1s;
                }

                a {
                    text-decoration: none;
                    font-size: 15px;
                    color: #fff;
                    font-family: $titulo2;
                    
                }
                #X1{
                    border-style: none;
                    border-radius: 60%;
                    padding: 0.5em;
                    font-family: $titulo2;
                    margin-left: 15em;
                    margin-top: 1em;
                    background-color: $rosa-fuerte;
                    color: #fff;                    
                }
                #X2{
                    @extend #X1;
                }
                #X3{
                    @extend #X1;
                }
                .precioCurso{
                    font-size: 20px;
                    font-family: $titulo;
                }
                .infoCurso{
                    font-family: $titulo;
                    font-size: 18px;
                    padding-left: 3em;
                    padding-right: 3em;
                    text-align: justify;                 
                }
                .duracionCurso{
                    text-align: start;
                    padding-left: 3em;
                    font-family: $titulo;
                }
                .modCurso{
                    text-align: start;
                    padding-left: 3em;
                    font-family: $titulo;
                }
                #contacto1{
                    width: 10em;
                    height: 3em;
                    border-radius: 10px;
                    border-style: none;
                    background-color: $rosa-fuerte;
                    margin-right: 4em;
                    color: #fff;
                    font-family: $titulo;
                    font-weight: bold;                   
                }
                #contacto2{
                    @extend #contacto1;
                }
                #contacto3{
                    @extend #contacto1;
                }
                .mas{
                    font-family: $titulo;
                    font-size: 14px;
                    padding: 1em;
                    margin-right: 7em;
                }

            }
        }

    }

}

@media screen and (min-width: 610px) {
    #courses {
        height: 400px;

        h2 {
            font-size: 28px;
        }

        .level {
            display: flex;
            flex-direction: row;
        }

    }
}